$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$font-family-body: "Source sans pro";
$font-family-h1-h6: "Fraunces";
$address-color: #0064FB;
$color-log-img: #FAC664;
$color-avatar: #DEE2E6;
$email-color: #2AB85F;
$color-log: #fafafa10;
$color-h1-h6: #383348;
$post-color: #B3E0B8;
$color-body: #E0E1EA;
$light-color: #FFF;
$dark-color: #000;


