@import '../style/styles.scss';

.dashboard {
    overflow: hidden;

   
    .list__users {
        position: relative;
        text-align: center;
        padding: 10px;
        height: calc(100vh - 140px);
        overflow-y: auto;

        .users {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            width: 95%;
            background-color: $light-color;
            box-shadow: $box-shadow;
            min-height: 70px;
            padding: 10px;
            margin: 20px auto;
            border-radius: 5px;
            border-left: 5px solid $color-log-img;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            cursor: pointer;
            transition: 500ms;

            &:hover {
                background-color: $color-avatar;
                border-left-color: $post-color; 

                .users__avatar {
                    background-color: $post-color;
                }
            }

            .users__avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $color-avatar;
                flex-shrink: 0;
                margin-right: 10px;
                transition: 500ms;
            }

            .users__details {
                width: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 3px;

                .name__item{
                    order: 1;
                }
                .email__item{
                    order: 2;
                }
                .city__item{
                    order: 3;
                }
                .contact__item{
                    order: 4;
                }

                .user__item {
                    width: max-content;

                    i {
                        margin-right: 5px;
                    }

                    .address {
                        color: $address-color;
                    }
                    
                    .phone {
                        color: $color-log-img;
                    }

                    .at {
                        color: $email-color;
                    }
                }
            }
        }
    }
}