/* You can add global styles to this file, and also import other style files */

@import './app/style/styles.scss';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: $font-family-body;
    letter-spacing: 1px;
}


body {
    background-color: $color-body;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-h1-h6;
    color: color-h1-h6;
    font-weight: 400;
}

strong {
    font-size: 13px;
}


input {
    width: 100%;
}

.flex__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

